{
  "Discord": {
    "GuildOptions": {
      "GuildA": {
        "OkEmoji": ":ok:",
        "FailEmoji": ":fail:"
      },
      "GuildB": {
        "OkEmoji": ":+1:",
        "FailEmoji": ":-1:"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  }
}
