[Unit]
Description=Woolly
Requires=network.target
After=network.target

[Service]
User=minecraft
Group=minecraft
Type=notify
WorkingDirectory=/usr/local/etc/woolly
ExecStart=/usr/local/sbin/woolly
Environment="DOTNET_ENVIRONMENT=Production"
EnvironmentFile=/usr/local/etc/woolly/secrets.conf

[Install]
WantedBy=multi-user.target
